<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NatigSh</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <section class="nav-con">
        <div class="menu" id="menu">
            <div class="icon">
                <ion-icon name="menu-sharp" id="menuIcon"></ion-icon>
            </div>
            <p name="DeskropDesign">NatigShukurov</p>
        </div>
        <div class="links">
            <a href="../index.html">Blog</a>
            <a href="about.html" id="isActive"> My About</a>
            <a href="../templates/loginre.html">Login|Register</a>
        </div>
        <div class="threePoint">
            <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
        </div>
    </section>
    <section class="empty"></section>
    <section class="about-container">
        <div class="about">
            <div class="title">
                <p class="name">
                    Natiq Shukurov
                </p>
                <p class="name_1">About me</p>
                <div class="besremempty"></div>
            </div>
            <!-- <section class="empty"></section> -->
            <div class="myAbout">
                <div class="about-img">
                    <img src="../static/img/natigSh.jpg" alt="">
                </div>
                <div class="about-txt">
                    Mən Natig Shukurov, Azərbaycan Texniki Universitetində Kompüter Elmləri ixtisası üzrə birinci kurs
                    tələbəsiyəm. Veb proqramlaşdırma sahəsinə böyük marağım var və bu istiqamətdə özümü davamlı olaraq
                    inkişaf etdirirəm. HTML, CSS, SCSS, JavaScript və Python biliklərim var. Eyni zamanda backend
                    sahəsinə keçid edərək Flask kimi texnologiyalarla tanış oluram və portfolioma real layihələr əlavə
                    edirəm.
                    Kompüter elmləri sahəsində həm nəzəri, həm də praktiki təcrübə qazanmaq üçün daim yeni biliklər
                    öyrənməyə çalışıram. Freelancer kimi kiçik layihələr üzərində işləyirəm və sosial şəbəkələrdə
                    fəaliyyət göstərərək özümü tanıtmağa çalışıram. Hədəfim – güclü bir full-stack developer olmaq və
                    real problemləri texnologiya vasitəsilə həll edən uğurlu layihələr yaratmaqdır.
                </div>
            </div>
            <div class="detail">
                <div class="skills">
                    <div class="detail-title">
                        <img src="../static/img/abilities.png" alt="">
                        <p>Bacarıqlarım</p>
                    </div>
                    <div class="detail-text">
                        Html5, Css3, Scss, Python(basic), JavaScript, Github, VercalApp, NetlifyApp
                    </div>
                </div>
                <div class="experience">
                    <div class="detail-title">
                        <img src="../static/img/user-experience.png" alt="">
                        <p>Təcrübəm</p>
                    </div>
                    <div class="detail-text">
                        Veb proqramlaşdırma sahəsində ilk təcrübəmi öz layihələrim üzərində işləməklə qazandım. HTML,
                        CSS, SCSS və JavaScript-dən istifadə edərək fərdi portfoliom və sadə blog saytları yaratmışam.
                        Freelancer kimi kiçik frontend layihələri hazırlamışam və bu sahədə davamlı
                        inkişaf edirəm. Hal-hazırda real layihələrdə iştirak etməklə praktiki biliklərimi daha da
                        gücləndirməyə çalışıram.
                    </div>
                </div>
                <div class="education">
                    <div class="detail-title">
                        <img src="../static/img/education.png" alt="">
                        <p>Təhsilim</p>
                    </div>
                    <div class="detail-text">
                        Mən hal-hazırda Azərbaycan Dövlət Texniki Universitetində Kompüter Elmləri ixtisası üzrə
                        təhsilimi davam etdirirəm. Təhsil prosesində proqramlaşdırma və informasiya texnologiyaları
                        sahəsində biliklərimi artırıram. Gələcəkdə bu sahədə peşəkar mütəxəssis olmaq və innovativ
                        həllər yaratmaq istəyirəm.


                    </div>

                </div>
            </div>
        </div>
    </section>

        <section class="solidbar" id="solidbar">
        <div class="solidbar-con" id="sb-con">
            <div><a href="blokedit.html">Blog yazın.</a><ion-icon name="create-outline"></ion-icon></div>
            <div><a  href="logout.html">Çıxış edin.</a><ion-icon name="exit-outline"></ion-icon></div>
            <div class="linksresponsive">
                <a href="../index.html">Blog</a>
            </div>
            <div class="linksresponsive">
                <a href="loginre.html">Login|Register</a>
            </div>
            <div class="linksresponsive">
                <a href="about.html"> My About</a>
            </div>
        </div>
    </section>

    <script src="../static/js/about.js"></script>
</body>

</html>