<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NatigSh</title>
    <link rel="stylesheet" href="../static/css/blokedit.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <section class="nav-con">
        <div class="menu" id="menu">
            <div class="icon">
                <ion-icon name="menu-sharp" id="menuIcon"></ion-icon>
            </div>
            <p name="DeskropDesign">NatigShukurov</p>
        </div>
        <div class="links">
            <a href="../index.html">Blog</a>
            <a href="about.html"> My About</a>
            <a href="../templates/loginre.html" id="isActive">Login|Register</a>
        </div>
        <div class="threePoint">
            <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
        </div>
    </section>
    <section class="empty" id="first-empty"></section>

    <div class="login-container">
        <div class="login" id="islogin-re-active">
            <div class="login-title">
                Blogunu yaz.
            </div>
            <form method="get">
                <div class="email">
                    <span>Bloogun adı.</span>
                    <input type="text" placeholder="Blogun başlığını daxil edin..." required id="emailInput">
                </div>
                <div class="password">
                    <span>Blog mətni.</span>
                    <div class="input">
                        <textarea name="" id="" placeholder="Mətni daxil et."></textarea>
                    </div>
                </div>

                <input type="file" id="realFile" hidden>
                <button id="customBtn">Blog şəklini Seç</button>
                <span id="fileName">Heç bir fayl seçilməyib</span>


                <button id="sendMsg">Davam Et</button>
            </form>
        </div>
    </div>


    <section class="succesful" id="succesfulCon">
        <div class="messagebox">
            <div class="imgmsg">
                <img src="../static/img/check.gif" alt="">
            </div>
            <p>
                Siz artıq daxil olmusunuz!!!
            </p>

        </div>
    </section>
    <section class="solidbar" id="solidbar">
        <div class="solidbar-con" id="sb-con">
            <div><a href="blokedit.html">Blog yazın.</a><ion-icon name="create-outline"></ion-icon></div>
            <div><a href="../templates/logout.html">Çıxış edin.</a><ion-icon name="exit-outline"></ion-icon></div>
            <div class="linksresponsive">
                <a href="index.html">Blog</a>
            </div>
            <div class="linksresponsive">
                <a href="./templates/loginre.html">Login|Register</a>
            </div>
            <div class="linksresponsive">
                <a href="templates/about.html"> My About</a>
            </div>
        </div>
    </section>

    <script src="../static/js/blogedit.js"></script>
    <script src="../static/js/succesful.js"></script>
</body>

</html>