<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NatigSh</title>
    <link rel="stylesheet" href="../static/css/sosial.css">
    <link rel="stylesheet" href="../static/css/scrolbar.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <section class="nav-con">
        <div class="menu" id="menu">
            <div class="icon">
                <ion-icon name="menu-sharp" id="menuIcon"></ion-icon>
            </div>
            <p name="DeskropDesign">NatigShukurov</p>
        </div>
        <div class="links">
            <a href="../index.html">Blog</a>
            <a href="./about.html"> My About</a>
            <a href="./loginre.html">Login|Register</a>
        </div>
        <div class="threePoint">
            <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
        </div>
    </section>
    <section class="empty" id="first-empty">

    </section>
    <!-- sosial container -->

    <section class="sosial-container">
        <div class="sosial-card">
            <div class="title-card">
                <div class="icon_sosial_card">
                    <ion-icon name="logo-github"></ion-icon>
                </div>
                <div class="text_sosial_card">
                    <p class="sosial_title">Natig Shukurov</p>
                    <p class="sosial-name">github.com</p>
                </div>
            </div>
            <div class="sosial-link">
                <a href="https://github.com/Natiq96" target="_blank">Github Hesabım.</a>
            </div>
            <div class="github-repo">
                <a href="https://github.com/Natiq96/natigsh/archive/refs/heads/main.zip" download="natigsh(code)">
                    Bu projectin kodları...
                </a>
            </div>
        </div>

        <!-- linkedin -->
        <div class="sosial-card">
            <div class="title-card">
                <div class="icon_sosial_card" id="linkedin_card">
                    <ion-icon name="logo-linkedin" id="linkedin"></ion-icon>
                </div>
                <div class="text_sosial_card">
                    <p class="sosial_title">Natig Shukurov</p>
                    <p class="sosial-name">linkedin.com</p>
                </div>
            </div>
            <div class="sosial-link">
                <a href="https://www.linkedin.com/in/natig-shukurov-a231b6328/" target="_blank">Github Hesabım.</a>
            </div>
        </div>
        <!-- instagram -->
        <div class="sosial-card">
            <div class="title-card">
                <div class="icon_sosial_card" id="linkedin_card">
                    <ion-icon name="logo-instagram"></ion-icon>
                </div>
                <div class="text_sosial_card">
                    <p class="sosial_title">Natig Shukurov</p>
                    <p class="sosial-name">instagram.com</p>
                </div>
            </div>
            <div class="sosial-link">
                <a href="https://www.instagram.com/natiggsh/" target="_blank">Instagram Hesabım.</a>
            </div>
        </div>
        <!-- cv -->
        <div class="sosial-card">
            <div class="title-card">
                <div class="icon_sosial_card">
                    <ion-icon name="arrow-down-circle"></ion-icon>
                </div>
                <div class="text_sosial_card">
                    <p class="sosial_title">Natig Shukurov</p>
                    <p class="sosial-name">CV</p>
                </div>
            </div>
            <div class="sosial-link">
                <a href="../static/pdf/Natig Shukurov.zip" target="_blank" download="Natig_Shukurov_CV.pdf">Mənim
                    CV-im</a>
            </div>
        </div>
    </section>
    <section class="empty"></section>

    <!-- succesfull -->
    <section class="succesful" id="succesfulCon">
        <div class="messagebox">
            <div class="imgmsg">
                <img src="static/img/check.gif" alt="">
            </div>
            <p>
                Uğurla göndərildi!!!
            </p>
        </div>
    </section>

    <!-- solidbar -->
    <section class="solidbar" id="solidbar">
        <div class="solidbar-con" id="sb-con">
            <div class="div">
                <a href="./blokedit.html">Blog yazın.</a>
                <ion-icon name="create-outline"></ion-icon>
            </div>

            <div class="div">
                <a href="./logout.html">Çıxış edin.</a><ion-icon name="exit-outline"></ion-icon>
            </div>
            <div class="linksresponsive">
                <a href="../index.html">Blog</a>
            </div>
            <div class="linksresponsive">
                <a href="./loginre.html">Login|Register</a>
            </div>

            <div class="linksresponsive">
                <a href="./about.html">My About</a>
            </div>
            <div class="div">
                <a href="./sosial.html">Sosial şəbəkələr</a>
            </div>

        </div>
    </section>


    <script src="../static/js/sosial.js"></script>
</body>

</html>